.editor {
  display: flex;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 3px;
  /* prevent the image from overflowing during resizing */
  overflow: auto;
}

.editor > div {
  padding: 10px;
  flex-grow: 1;
}

.editor > div:focus-within {
  outline: none;
}

.editor p {
  word-break: break-word;
}

.editor .moveable-control-box {
  z-index: 9;
}
