.node-imageComponent {
  position: relative;
}

.image-component {
  position: relative;
}

.image-component img {
  margin-bottom: 0;
}

.image-component img[data-keep-ratio]:not([data-keep-ratio='false']) {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-component img[data-keep-ratio='false'] {
  object-fit: fill;
}

.image-component .ghost {
  position: absolute;
  top: 0;
}

.image-component .ghost > img {
  opacity: 0.3;
}

p:has(span.node-imageComponent) {
  display: flex;
  flex-wrap: wrap;
}

/* these styles are required for aligning the image */
p:has(span.node-imageComponent)[style*='text-align: center'] {
  justify-content: center;
}

p:has(span.node-imageComponent)[style*='text-align: right'] {
  justify-content: flex-end;
}

p:has(span.node-imageComponent)[style*='text-align: left'] {
  justify-content: flex-start;
}

p:has(span.node-imageComponent)[style*='text-align: justify'] {
  justify-content: space-between;
}
