.node-imageComponent {
  position: relative;
  display: inline-block;
}

.node-imageComponent.ProseMirror-selectednode {
  z-index: 1;
}

.node-imageComponent + img.ProseMirror-separator {
  width: 1px !important;
}

.image-component {
  position: relative;
  user-select: auto;
  display: inline-flex;
}

.image-component img {
  margin-bottom: 0;
}

.image-component img[data-keep-ratio]:not([data-keep-ratio='false']) {
  object-fit: contain;
}

.image-component img[data-keep-ratio='false'] {
  object-fit: fill;
}

/* caption input */
.image-component > .caption {
  z-index: 1;
  cursor: text;
  outline: none;
  padding: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: auto 0 0;
  margin: auto;
  white-space: pre-wrap;
  word-break: break-word;
  min-height: 35px;
  max-height: 100%;
  overflow-y: auto;
  font-size: initial;
  font-weight: initial;
}

.image-component > .caption::before {
  position: absolute;
}

.image-component > .caption:empty::before {
  content: var(--caption-placeholder, 'Enter a caption...');
}

/* image resizer */
.image-component {
  --box-color: rgb(60, 132, 244);
}

.node-imageComponent.ProseMirror-selectednode .image-resizer {
  display: block;
}

.node-imageComponent.ProseMirror-selectednode .image-component {
  outline: 2px solid var(--box-color);
}

.image-component .image-resizer {
  --box-size: 14px;
  --resizer-offset: calc(var(--box-size) / 2 + 1px);

  z-index: 2;
  display: none;
  width: var(--box-size);
  height: var(--box-size);
  position: absolute;
  background-color: var(--box-color);
  border: 2px solid #fff;
  border-radius: 50%;
}

.image-component .image-resizer.image-resizer-n {
  inset: calc(var(--resizer-offset) * -1) 0 auto;
  margin: auto;
  cursor: n-resize;
}

.image-component .image-resizer.image-resizer-ne {
  top: calc(var(--resizer-offset) * -1);
  right: calc(var(--resizer-offset) * -1);
  cursor: ne-resize;
}

.image-component .image-resizer.image-resizer-e {
  right: calc(var(--resizer-offset) * -1);
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: e-resize;
}

.image-component .image-resizer.image-resizer-se {
  bottom: calc(var(--resizer-offset) * -1);
  right: calc(var(--resizer-offset) * -1);
  cursor: nwse-resize;
}

.image-component .image-resizer.image-resizer-s {
  inset: auto 0 calc(var(--resizer-offset) * -1);
  margin: auto;
  cursor: s-resize;
}

.image-component .image-resizer.image-resizer-sw {
  bottom: calc(var(--resizer-offset) * -1);
  left: calc(var(--resizer-offset) * -1);
  cursor: sw-resize;
}

.image-component .image-resizer.image-resizer-w {
  left: calc(var(--resizer-offset) * -1);
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: w-resize;
}

.image-component .image-resizer.image-resizer-nw {
  top: calc(var(--resizer-offset) * -1);
  left: calc(var(--resizer-offset) * -1);
  cursor: nw-resize;
}
