.icon-sun, .icon-moon {
  width: rem(24px);
  height: rem(24px);
}

.icon-sun {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.icon-moon {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.root {
  height: 100%;
  padding: 0 var(--mantine-spacing-md);
  gap: var(--mantine-spacing-xs);
}

.brand-link {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  text-decoration: none;
  color: unset;
}

.brand-title {
  font-weight: bold;
  font-size: var(--mantine-font-size-xl);
  color: light-dark(var(--mantine-color-dark-5), white);

  @media (max-width: 350px) {
    display: none;
  }
}

.link-action-icon {
  @media (max-width: 430px) {
    display: none;
  }
}
